<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Iris Flower Predictor</title>
  </head>
  <body>
    <form action="{{url_for('predict')}}" method="post">
      <label for="s_length">Septal Length:</label>
      <input type="text" id="s_length" name="s_length" /><br /><br />

      <label for="s_width">Septal Width:</label>
      <input type="text" id="s_width" name="s_width" /><br /><br />

      <label for="p_length">Pedal Length:</label>
      <input type="text" id="p_length" name="p_length" /><br /><br />

      <label for="p_width">Pedal Width:</label>
      <input type="text" id="p_width" name="p_width" /><br /><br />

      <input type="submit" id="predict_button" value="Predict" />
    </form>
  </body>
</html>
